*{
    margin: 0;
    padding: 0;
}
html{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}
:root{
    --laranja: #f54707;
    --branco: #fff;
    --azul:#002A43;
}
                /* MOBILE */
p{
    font-size: 4.4vw;
}
h2{
    font-size: 5.8vw;
}
.desktop{
    display: none;
}
ul{
    list-style: none;
    display: flex;
    justify-content: space-between;

}
.mobile{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1%;
    box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.342);
  
}
.mobile ul{
    display: flex;
    justify-content: space-between;
    width: 99%;
    align-items: center;
    
}
.mobile img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
}
#list-mobile {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: 800;
    font-size: 3vw;
}
#list-mobile a{
    text-decoration: none;
    text-transform: uppercase;
    padding: 5% 0;
    color: var(--laranja);
    width: 100%;
    text-align: center;
}
.burguer{   
    width: 18vw;
    padding: 1%;
    height: 5vw;
    padding: 1%;
    cursor: pointer;
    border-radius: 5px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: .5%;
}

.barra{
    background-color: var(--azul);
    height: 100%;
    margin: 2.6%;
    width: 142%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.logoname span{
    font-weight: 800;
}

/* Sessão 1 - topo */
.topo{
    color: var(--branco);
    background: linear-gradient(to bottom,#002A43,#001F32);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 12%;
    padding-bottom: 18%;
    background-image: url(/src/img/bg/bg-topo.png);
}
.area-topo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.topo h2,
.topo p{
    text-align: center;
    width: 80%;
    padding-bottom: 4%;
}
.topo h2{
    color: var(--laranja);
}
 
        /*PORQUE CONTRATAR*/

.porque-contratar{
    text-align: center;
    color:var(--azul);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 12%;
    padding-bottom: 2%;
    /* border: 1px solid red; */
}
.porque-contratar p,
.porque-contratar h2{
    text-align: center;
    padding-bottom: 5%;
    width: 80%;
}
.porque-contratar span{
    color: var(--laranja);
    font-weight: 800;
}
.sublinhado{
    font-weight: 600;
}

        /* PORQUE CONTRATAR 2 */

.porque-contratar-2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap; 
}

.area-topicos{
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-self: center;
    text-align: center;
    width: 90%;
    margin: 3%;
    border: 3px solid rgba(128, 128, 128, 0.089);
    box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.068);
    padding: 5%;
    border-radius: 25px;
}

.area-topicos img{
    width: 25%;
}

.number{
    font-weight: 800;
    color: var(--laranja);
}
.area-topicos h2{
    font-size: 6vw;
    padding-bottom: 2%;
    color: var(--azul);

}

.area-topicos p{
    font-size: 4.3vw;
    padding-bottom: 2%;
}


        /* QUEM SOMOS */

.area-quem-somos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-bottom: 6%;
    padding-top: 11%;
    background: linear-gradient(to bottom,#002A43,#001F32);
    background-image: url(/src/img/bg/bg1.png);
    background-size: cover;
    background-position: right;
    
}
.area-quem-somos h2{
    color: var(--laranja);
    padding-bottom: 0;
    font-weight: 800;
   
}
.area-quem-somos p{
    color:var(--branco);
    padding: 3% 10%;
    font-weight: 200;
   
}
.area-quem-somos span{
    font-weight: 800;
    color: var(--laranja);
}
.area-icon{

    display: flex;
    justify-content: center;
    align-items: center;
}
.card-quem-somos{
    
    width: 30vw;
    height: 30vw;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.384);
    margin: 1%;
}
.card-quem-somos h2{
    font-size: 3.2vw;
    color: var(--branco);
}
.nossos-servicos{

    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 10%;
}
.nossos-servicos h2{
    color: var(--laranja);
}
.nossos-servicos p{
  
    padding: 2% 0;
    color: var(--azul);
}
.nossos-servicos li{
    font-size: 3.7vw;
    padding: 1%;
}
.nossos-servicos .subtitulo{    
    padding: 3% 0;
    font-size: 3.5vw;
}


            /* ETAPAS */
.etapas{
    /* border: 1px solid red; */
    background-color: var(--azul);
    padding-top: 2%;
    padding-bottom: 2%;  
    display: flex;
    justify-content: center;
    align-items: center;  
    background-image: url(/src/img/bg/bg-etapas.png);
    background-size: cover;
    background-position: right;
    
}
.area-etapas{
    padding: 10%;
}
.etapas h2{
    color: var(--laranja);
    font-weight: 800;
    padding-left: -10%; 
    z-index: 2;
    display: flex;

}
.area-etapas p{
    color: var(--branco);
    padding: 3% 0;  
    margin-left: 5%;
    display: flex;
    justify-content: left;
    text-align: left;
    align-self: flex-start; 
}

        /* FOOTER */
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: #00121d;
    color: var(--branco);
}
footer p{
    text-align: center;
    font-size: 3vw;
    font-weight: 300;
    padding: 2% 3%;
}
.direito{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    text-align: end;
    width: 100%;
    padding: 6% 0;
}
.direito h2{
    font-size: 4vw;
    padding: .2% 2%;
}
.direito p{
    font-weight: 300;
    padding: .2% 2%;
}
.direito span{
    color: var(--laranja);
    font-weight: 800;
}
.redessociais{
    font-size: 6vw;
    padding: 3% 0;
    margin: 1%;
   
}
.redessociais a{
    color: var(--laranja);
}

                        /*-------------------DESKTOP--------------------*/

@media (min-width: 720px){


.mobile{
    display: none;
}

.desktop{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1% 0;
    
}
ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;

}
.desktop li { 
    width: 31vw;
}
.desktop a{
    font-size: 1.2vw;
    text-decoration: none;
    color: #F75B22;
    margin: 0 1%;
    font-weight: 600;
}

.topo{
    width: 100%;
    padding: 0;
    height: 100%;
    background-image: url(/src/img/bg/bg-topo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.area-topo{
    width: 55%;
    align-self: flex-start;
    padding: 3% 0;
}
.topo h2{
    font-size: 2.2vw;
    
}
.topo p{
    font-size: 1.3vw;
}

.porque-contratar{

    padding: 3% 0;
}
.porque-contratar h2{
    font-size: 2vw;
    width: 45%;
    padding: 0;
    padding-bottom: 1%;
}
.porque-contratar p{
    width: 70%;
    font-size: 1.4vw;
    padding: 1%;
}
.area-topicos{
 
    width: 20%;
    min-height: 43vw;
    margin: 1%;

}
.area-topicos img{
    width: 40%;
    padding: 3%;
}
.number{
    font-size: 3vw;
}
.area-topicos h2{
    font-size: 1.3vw;
}
.area-topicos p{
    padding: 0;
    margin: 0;
    font-size: .9vw;
}
.area-quem-somos{
    padding: 1% 0;
}
.area-quem-somos h2{
    padding-top: 1vw;
    font-size: 2.8vw;
}
.area-quem-somos p{
    font-size: 1.8vw;
    width: 50%;
}

.nossos-servicos h2{
    font-size: 1.8vw;
    width: 50%;
    padding-bottom: 1.2vw;
}
.nossos-servicos p{
    font-size: 1.2vw;
    width: 50%;
    font-weight: 400;
    padding: 1%;
}
.nossos-servicos li{
    font-size: 1.2vw;
    padding: .1%;
}

.nossos-servicos .subtitulo{
    font-size: 1.4vw;
    padding: 0;
}

.caixa1{
    background-image: url(/src/img/bg/bg-redes-sociais.png);
    background-size: contain;
    background-position: left;
    padding: 1% 5%;
    background-repeat: no-repeat;
}

.caixa2{
   
    display: flex;
    justify-content: center;
    align-items:end;
    text-align: end;
    padding: 1% 10%;
    background-image: url(/src/img/bg/bg.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.etapas{
    background-image: url(/src/img/bg/bg-etapas.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    padding: 3%;
}
.area-etapas{
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.etapas h2{
    font-size: 2vw;
}
.etapas p{
    font-size: 1.2vw;
    padding: 1% 0;
    
}
footer p{
    font-size: 1vw;
}
footer h2{
  font-size: 1.4vw;
}
.direito{
    padding: 0;
}
.direito h2{
    font-size: 1.8vw;
}
.redessociais{
    font-size: 3vw;
    padding-bottom: 2%;
}
}