*{
    margin: 0;
    padding: 0;
}
html{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}
:root{
    --verde: #19a520;
    --laranja-claro:#ff632b;
    --laranja: #f54707;
    --branco: #fff;
    --azul:#002A43;
}
                /* MOBILE */
p{
    font-size: 4.4vw;
}
h2{
    font-size: 5.8vw;
    padding: 0 2%;
}
.desktop{
    display: none;
}
ul{
    list-style: none;
    display: flex;
    justify-content: space-between;

}
.mobile{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1%;
    box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.342);
  
}
.mobile ul{
    display: flex;
    justify-content: space-between;
    width: 99%;
    align-items: center;
    
}
.mobile img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
}
#list-mobile {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: 800;
    font-size: 3vw;
}
#list-mobile a{
    text-decoration: none;
    text-transform: uppercase;
    padding: 5% 0;
    color: var(--laranja); 

    width: 100%;
    text-align: center;
}
.burguer{   
    width: 18vw;
    padding: 1%;
    height: 5vw;
    padding: 1%;
    cursor: pointer;
    border-radius: 5px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: .5%;
}

.barra{
    background-color: var(--azul);
    height: 100%;
    margin: 2.6%;
    width: 142%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.logoname span{
    font-weight: 800;
}

/* Sessão 1 - topo */
.topo{
    color: var(--branco);
    background: linear-gradient(to bottom,#002A43,#001F32);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 12%;
    padding-bottom: 18%;
    background-image: url(/src/img/bg/bg-topo.png);
}
.area-topo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.topo h2,
.topo p{
    text-align: center;
    width: 80%;
    padding-bottom: 4%;
}
.topo h2{
    color: var(--laranja-claro);
}
/*ANIMAÇÃO DO TEXTO INICIAL*/

.area-topo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0; /* Inicialmente invisível */
    transform: translateY(50px); /* Inicialmente deslocado para baixo */
    transition: opacity 0.6s ease-out, transform 0.6s ease-out; /* Animação suave */
}

.area-topo.visible {
    opacity: 1; /* Visível quando a classe 'visible' é adicionada */
    transform: translateY(0); /* Move o elemento para a posição original */
}

/* Inicialmente invisível e com animação de transição */
.area-topo h2,
.area-topo p {
    opacity: 0; /* Inicialmente invisível */
    transform: translateY(20px); /* Inicialmente deslocado para baixo */
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

/* Animação para cada h2 e p com delays apropriados */
.area-topo.visible h2:nth-of-type(1) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.2s; /* Delay para o primeiro h2 */
}

.area-topo.visible p:nth-of-type(1) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.6s; /* Delay para o primeiro p */
}

.area-topo.visible h2:nth-of-type(2) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 1s; /* Delay para o segundo h2 */
}

.area-topo.visible p:nth-of-type(2) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 1.4s; /* Delay para o segundo p */
}


.botao{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 1% 3%;
    padding-bottom: 6%;
  
}
.button{
border: 1px solid #19a543;
background-color: var(--verde);
padding: 2% 4%;
border-radius: 10px;
color: var(--branco);
text-decoration: none;
transition: all 0.1s ease-in;
font-size: 4.6vw;
} 
.button:hover{
    padding: 1.1% 3.4%;
    box-shadow: 2px 5px 30px rgba(0, 0, 0, 0.336);
    
}
        /*PORQUE CONTRATAR*/

.porque-contratar{
    text-align: center;
    color:var(--azul);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 12%;
    padding-bottom: 2%;
    /* border: 1px solid red; */
}
.porque-contratar p,
.porque-contratar h2{
    text-align: center;
    padding-bottom: 5%;
    width: 80%;
    font-size: 4.5vw;
    font-weight: 500;
}
.porque-contratar span{
    color: var(--laranja);
    font-weight: 800;
}
.sublinhado{
    font-weight: 600;
}

        /* PORQUE CONTRATAR 2 */

.porque-contratar-2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap; 
}

.area-topicos{
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-self: center;
    text-align: center;
    width: 90%;
    margin: 3%;
    border: 3px solid rgba(128, 128, 128, 0.089);
    box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.068);
    padding: 5%;
    border-radius: 25px;
}

.area-topicos img{
    width: 25%;
}

.number{
    font-weight: 800;
    color: var(--laranja);
}
.area-topicos h2{
    font-size: 6vw;
    padding-bottom: 2%;
    color: var(--azul);

}

.area-topicos p{
    font-size: 4.3vw;
    padding-bottom: 2%;
}


        /* QUEM SOMOS */

.area-quem-somos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-bottom: 6%;
    padding-top: 11%;
    background: linear-gradient(to bottom,#002A43,#001F32);
    background-image: url(/src/img/bg/bg1.png);
    background-size: cover;
    background-position: right;
    
}
.area-quem-somos h2{
    color: var(--laranja-claro);
    padding-bottom: 0;
    font-weight: 800;
   
}
.area-quem-somos p{
    color:var(--branco);
    padding: 3% 10%;
    font-weight: 300;
   
}
.area-quem-somos span{
    font-weight: 800;
    color: var(--laranja-claro);
}
.area-icon{

    display: flex;
    justify-content: center;
    align-items: center;
}
.card-quem-somos{
    
    width: 30vw;
    height: 30vw;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.384);
    margin: 1%;
}
.card-quem-somos h2{
    font-size: 4.2vw;
    color: var(--branco);
}
#titulo{
    padding: 2%;
    font-size: 6vw;
}
.nossos-servicos{

    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    padding-bottom: 2%;
}
.nossos-servicos h2{
    color: var(--laranja);
    font-size: 4.5vw;
}
.nossos-servicos p{
  
    padding: 2% 2%;
    color: var(--azul);
}
.nossos-servicos li{
    font-size: 4.5vw;
    padding: 1% 3%;
}
.nossos-servicos .subtitulo{    
    padding: 3% 0;
    font-size: 5vw;
}


            /* ETAPAS */
            .etapas {
                background-color: var(--azul);
                padding-top: 2%;
                padding-bottom: 2%;
                display: flex;
                justify-content: center;
                align-items: center;
                background-image: url(/src/img/bg/bg-etapas.png);
                background-size: cover;
                background-position: right;
            }
            
            /* Contêiner dos elementos */
            .area-etapas {
                padding: 10%;
            }
           
            /* Estilo inicial para h2 e p */
            .etapas h2,
            .area-etapas p {
                opacity: 0; /* Inicialmente invisível */
                transition: opacity 0.6s ease-out, transform 0.6s ease-out;
            }
            
            /* Cor e estilo do h2 */
            .etapas h2 {
                color: var(--laranja); /* Cor do texto */
                transform: translateY(20px); /* Move para baixo inicialmente */
            }
            
            /* Cor e estilo do p */
            .area-etapas p {
                color: var(--branco); /* Cor do texto */
                transform: translateX(20px); /* Move para a direita inicialmente */
            }
            
            /* Quando a seção está visível, aplica a animação */
            .etapas.visible h2 {
                opacity: 1;
                transform: translateY(0); /* Move para a posição original */
            }
            
            .etapas.visible p {
                opacity: 1;
                transform: translateX(0); /* Move para a posição original */
            }
            
            /* Delay específico para cada h2 */
            .etapas.visible h2:nth-of-type(1) {
                transition-delay: 0.2s;
            }
            
            .etapas.visible h2:nth-of-type(2) {
                transition-delay: 1s;
            }
            
            .etapas.visible h2:nth-of-type(3) {
                transition-delay: 1.8s;
            }
            
            .etapas.visible h2:nth-of-type(4) {
                transition-delay: 2.6s;
            }
            
            .etapas.visible h2:nth-of-type(5) {
                transition-delay: 3.4s;
            }
            
            .etapas.visible h2:nth-of-type(6) {
                transition-delay: 4.2s;
            }
            
            /* Delay específico para cada p, ajustado após o h2 correspondente */
            .etapas.visible p:nth-of-type(1) {
                transition-delay: 0.8s;
            }
            
            .etapas.visible p:nth-of-type(2) {
                transition-delay: 1.6s;
            }
            
            .etapas.visible p:nth-of-type(3) {
                transition-delay: 2.4s;
            }
            
            .etapas.visible p:nth-of-type(4) {
                transition-delay: 3.2s;
            }
            
            .etapas.visible p:nth-of-type(5) {
                transition-delay: 4s;
            }
            
            .etapas.visible p:nth-of-type(6) {
                transition-delay: 4.8s;
            }
            
            
        /* FOOTER */
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: #00121d;
    color: var(--branco);
}
footer a{
    color: var(--branco);
    text-decoration: none;
    transition: all .5s ease-in-out;
}
footer a:hover{
    color: var(--laranja);
}
footer p{
    text-align: center;
    font-size: 3vw;
    font-weight: 300;
    padding: 2% 3%;
}
.direito{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    text-align: end;
    width: 100%;
    padding: 6% 0;
}
.direito h2{
    font-size: 4vw;
    padding: .2% 2%;
}
.direito p{
    font-weight: 300;
    padding: .2% 2%;
}
.direito span{
    color: var(--laranja);
    font-weight: 800;
}
.redessociais{
    font-size: 6vw;
    padding: 3% 0;
    margin: 1%;
   
}
.redessociais a{
    color: var(--laranja);
}

                        /*-------------------DESKTOP--------------------*/

@media (min-width: 720px){


.mobile{
    display: none;
}

.desktop{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1% 0;
    
}
ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;

}
.desktop li { 
    width: 31vw;
}
.desktop a {
    font-size: 1.2vw;
    text-decoration: none;
    color: #F75B22;
    margin: 0 1%;
    font-weight: 600;
    display: inline-block; 
    border-bottom: 2px solid transparent;
    position: relative;     
    overflow: hidden;
}

.desktop a::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 100%;
    height: 2px; 
    background-color: #045283;
    transform: translateX(-50%) scaleX(0); 
    transform-origin: center;
    transition: transform 0.3s ease;
}

.desktop a:hover::before {
    transform: translateX(-50%) scaleX(1); 
}


.topo{
    width: 100%;
    padding: 0;
    height: 100%;
    background-image: url(/src/img/bg/bg-topo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}
.area-topo{
    width: 55%;
    padding: 3% 0;
}
.topo h2{
    font-size: 2.2vw;
}
.topo p{
    font-size: 1.3vw;
}

.porque-contratar{

    padding: 3% 0;
}
.porque-contratar h2{
    font-size: 2vw;
    width: 45%;
    padding: 0;
    padding-bottom: 1%;
}
.porque-contratar p{
    width: 70%;
    font-size: 1.4vw;
    padding: 1%;
}
.area-topicos{
    width: 20%;
    min-height: 43vw;
    margin: 1%;
}

.area-topicos img{
    width: 40%;
    padding: 3%;
}
.number{
    font-size: 3vw;
}
.area-topicos h2{
    font-size: 1.3vw;
}
.area-topicos p{
    padding: 0;
    margin: 0;
    font-size: .9vw;
}
.botao{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 1% 3%;
}

.area-quem-somos{
    padding: 1% 0;
    display: flex;
    
}
.area-quem-somos h2{
    padding-top: 1vw;
    font-size: 2.8vw;
}
.area-quem-somos p{
    font-size: 1.8vw;
    width: 50%;
}
.button{
    font-size: 1.4vw;
    padding:1.2% 2%;
}
#titulo {
    padding: 1.8%;
    font-size: 2.5vw;
}
.nossos-servicos h2{
    font-size: 1.8vw;
    width: 50%;
    padding-bottom: 1.2vw;
}
.nossos-servicos p{
    font-size: 1.2vw;
    width: 50%;
    font-weight: 400;
    padding: 1%;
}
.nossos-servicos li{
    font-size: 1.2vw;
    padding: .1%;
}

.nossos-servicos .subtitulo{
    font-size: 1.4vw;
    padding: 0;
}

.caixa1{
    background-image: url(/src/img/bg/bg-redes-sociais.png);
    background-size: contain;
    background-position: left;
    padding: 1% 5%;
    background-repeat: no-repeat;
}

.caixa2{
   
    display: flex;
    justify-content: center;
    align-items:end;
    text-align: end;
    padding: 1% 10%;
    background-image: url(/src/img/bg/bg.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.etapas{
    background-image: url(/src/img/bg/bg-etapas.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    padding: 3%;
}
.area-etapas{
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.etapas h2{
    font-size: 2vw;
    color: var(--laranja-claro);
}
.etapas p{
    font-size: 1.2vw;
    padding: 1% 0;
    
}
footer{
    margin: 0;
}
footer p{
    font-size: 1vw;
    
    padding: 1%;
}
footer h2{
  font-size: 1.4vw;

}
.direito{
    padding-top: 3%;
}
.direito h2{
    font-size: 1.8vw;
}
.redessociais{
    font-size: 3vw;
    padding-bottom: 1%;
    margin: 0;
}
}